/* DEVELOPER Batul Anous, IS117-003, Fall 2024 */
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(190, 114, 237);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}
.text-muted {
    color: #000000 !important;
}
a {
    color: #000000;
    text-decoration: none;
    line-height: 10px;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.bg-dark {
    background-color: #8241fbf0 !important;
  }

  body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #2e234c;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.h1, .h2, .h3, .h5, .h6, h1, h2, h3, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 500;
    color:rgb(199, 144, 233);
    line-height: 1.2;
    display: block;
}

.h4, h4{
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 500;
    color:rgb(199, 144, 233);
    line-height: 1.2;
    word-spacing: 250px;
}
.text-center {
    text-align: center !important;
}

.image-container { 
    padding: 10px; /* Space around the images */ 
} 
img { 
    margin: 15px; /* Space between the images */ 
}

.col-sm-4 {
    flex: 0 0 auto;
    width: 100%;
    min-width: 50%;
}